html
    head
        meta(name='google-signin-client_id' content=google_client_id)
        title comment analyzer
    body
        h1 Comment Analyzer
        hr
        br
        block wrapper
        br
        hr
        p since 1999
        script(src="https://apis.google.com/js/platform.js" async defer)
        script(src='/static/app.js' defer)

